

@import "reset";
@import "colors";
@import "input-elements";




body {


    h1 {
        color: $third-color;
        background-color: $second-color;
        border:1px $dark-color solid;
    }

    p {
        
        border:1px $third-color solid;
        padding: 5px;
        font-size: 30px;
        margin:3px;
    }
    .container {
        height:50px;
        span {
            color: $second-color;
            font-size: 12px;
        }
    }
}



